#tradesafe_transaction_fee {
    width: 100px;
}

.form-table td.details {
    padding: 15px 10px 15px 0;
}

.form-table td div.details-box {
    border: 1px solid #c3c4c7;
    background-color: #ffffff;
    padding: 1px 12px;
}

.form-table td div.details-box p {
    margin: .5em 0;
    padding: 2px;
}

.form-table td .plugin-details table {
    display: none;
}